<!DOCTYPE html>
<html>
  <head>
    <title>Start Seite</title>
  </head>
  <body>
    <h1>Kostenerfassungs App</h1>
    <p>Registirireren sie sich</p>
    <a href="register">Registrieren</a>
    <br>
    <p>Wenn sie schön eine account haben melden sie sich ein</p>
    <a href="login">Anmelden</a>
    <br>
    <p>Wenn sie angemeldet sind gehen sie weiter</p>
    <a href="main">Kostenerfassungs App</a>
    <br>
    <a href="logout">Logout</a>
  </body>
</html>