<!DOCTYPE html>
<html>
  <head>
    <title>Anmeldungs Seite</title>
    <link rel="stylesheet" href="../styles/form.css">
  </head>
  <body>
    <div>
      <form id="log-form">
        <input type="email" name="Lmail" id="Lmail" placeholder="Email">
        <input type="password" name="Lpass" id="Lpass" placeholder="Password">
        <input type="submit" value="Anmelden">
      </form>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>