<!DOCTYPE html>
<html>
  <head>
    <title>Registrierungs Seite</title>
    <link rel="stylesheet" href="../styles/form.css">
  </head>
  <body>
    <div>
      <form id="reg-form">
        <input type="text" name="Rname" id="Rname" placeholder="Username">
        <input type="email" name="Rmail" id="Rmail" placeholder="Email">
        <input type="password" name="Rpass" id="Rpass" placeholder="Password">
        <input type="number" name="Racc" id="Racc" placeholder="Anfangs Konto">
        <input type="submit" value="Registrieren">
      </form>
    </div>
    <script src="../js/register.js"></script>
  </body>
</html>